<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracking App</title>
</head>

<body>

    <h1>Search Results</h1>
    <h2>Brand Name:</h2>
    <p>{{form_data.data.brand_name}}</p>

    <h2>Serving Size:</h2>
    <p>{{form_data.data.nf_serving_size_qty}} {{form_data.data.nf_serving_size_unit}}</p>

    <h2>Calories per Serving:</h2>
    <p>{{form_data.data.nf_calories}}</p>
</body>

</html>