<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracking App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    {% if form_data.data.brand_name != None %}
    <h1 class="ui header" style="padding-left: 10px;">Search Results</h1>
    <h2 class="ui header" style="padding-left: 10px;">Brand Name:</h2>
    <p style="padding-left: 10px;">{{form_data.data.brand_name}}</p>

    <h2 class="ui header" style="padding-left: 10px;">Serving Size:</h2>
    <p style="padding-left: 10px;">{{form_data.data.nf_serving_size_qty}} {{form_data.data.nf_serving_size_unit}}</p>

    <h2 class="ui header" style="padding-left: 10px;">Calories per Serving:</h2>
    <p style="padding-left: 10px;">{{form_data.data.nf_calories}}</p>

    {% else %}

    <h2 class="ui header" style="padding-left: 10px;">No Results Found!</h2>

    {% endif %}

    <form action="{{url_for ('search') }}" method="GET" style="padding-left: 10px;">
    <input class="ui primary basic button" type="submit" value="Go back to Search" action="{{url_for ('search') }}">
</form>
</body>

</html>