<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracking App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <h1 class="ui header" style="padding-left: 10px;">Search Results</h1>
    {%for f in form_data.foods%}
        <h2 class="ui header" style="padding-left: 10px;">Brand Name:</h2>
        <p style="padding-left: 10px;">{{f.brand_name}}</p>

        <h2 class="ui header" style="padding-left: 10px;">Description:</h2>
        <p style="padding-left: 10px;">{{f.description}}</p>
    
        <h2 class="ui header" style="padding-left: 10px;">Serving Size:</h2>
        <p style="padding-left: 10px;">{{f.serving_size}} {{f.serving_size_unit}}</p>

        <h2 class="ui header" style="padding-left: 10px;">Nutrional Facts:</h2>

            {%for n in f.food_nutrients%}

            <p style="padding-left: 10px;">{{n.nutrient_name}}: {{n.value}} {{n.unit_name}}</p>

            {%endfor%}

    {%endfor%}

    <form action="{{url_for ('usda') }}" method="GET" style="padding-left: 10px;" style="padding-top: 10px;" style="padding-bottom: 10px;">
    <input class="ui primary basic button" type="submit" value="Go back to Search" action="{{url_for ('usda') }}">
</form>
</body>

</html>